@import "../../variables.scss";
@import "../../mixins.scss";

.grid-container {
    border-bottom: 1px solid $dark-grey;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100px 50px repeat(5, 1fr);
    margin-top: 55px;
    white-space: nowrap;
    min-width: 1688px;
}

.search {
    grid-column: 1/2;
    grid-row: 1/3;
    border-right: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;

    &__search-bar {
        align-items: flex-start;
        background-color: $light-grey;
        border-radius: 4px;
        display: grid;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        font-size: 27px;
        margin-right: 20px;
        margin-left: 20px;
        height: 63px;
        width: 337px;
        padding-right: 45px;
        padding-left: 15px;
        position: relative;
    }

    &__loupe-button {
        background: url(./../../assets/loupe.svg) no-repeat;
        background-size: 40px 40px;
        background-position: center;
        width: 40px;
        height: 40px;
        z-index: 2;
        position: absolute;
        margin-top: -50px;
        margin-left: 290px;
    }
}

.vacation {
    display: grid;
    text-align: center;
    padding: 10px;



    &__annual {
        grid-column: 2/3;
        grid-row: 1/3;
        border-bottom: 1px solid $dark-grey;
    }

    &__past-year {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    &__current-year {
      grid-column: 5/7;
    }

    &__planned {
      grid-column: 7/9;
      grid-row: 1/3;
      border-bottom: 1px solid $dark-grey;
    }

    &__past-year--spent {
        grid-column: 3/4;
        border-bottom: 1px solid $dark-grey;
    }

    &__past-year--left {
        grid-column: 4/5;
        border-bottom: 1px solid $dark-grey;
    }

    &__current-year--spent {
        grid-column: 5/6;
        border-bottom: 1px solid $dark-grey;
    }

    &__current-year--left {
        grid-column: 6/7;
        border-bottom: 1px solid $dark-grey;
    }


}

.calendar {
    border-bottom: 1px solid $dark-grey;
    border-right: 1px solid $dark-grey;

    &__day-monday {
        grid-column: 2/3;
        grid-row: 3/9;
    }

    &__day-tuesday {
        grid-column: 3/4;
        grid-row: 3/9;
    }

    &__day-wednesday {
        grid-column: 4/5;
        grid-row: 3/9;
    }

    &__day-thursday {
        grid-column: 5/6;
        grid-row: 3/9;
    }

    &__day-friday {
        grid-column: 6/7;
        grid-row: 3/9;
    }

    &__day-saturday {
        grid-column: 7/9;
        grid-row: 3/9;
    }
}

.details {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid $dark-grey;
    font-weight:normal;
    grid-column: span 1;
    grid-row: span 1;
    border-right: 1px solid $dark-grey;

    &--planned {
      grid-column: span 2;
    }


}

.person-list {
    &__person {
        @include text-ellipsis;

        grid-row: span 1;
        grid-column: 1/2;
        padding: 20px;
        border-bottom: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
        font-size: 32px;
        color: $dark-grey;


    }

    &__name--Anna {
        color: $red;
        font-weight: bold;
    }

    &__name--Gabriel {
        color: #8BB360;
        font-weight: bold;
    }

    &__name--Matthias {
        color: #36669E;
        font-weight: bold;
    }

    &__name--Moritz {
        color: #E09313;
        font-weight: bold;
    }

    &__name--Elli {
        color: #417505;
        font-weight: bold;
    }

    &__name--Anna-R {
        color: #7E19A1;
        font-weight: bold;
    }
}
