<app-menu-others></app-menu-others>

<main class="grid-container">

  <nav class="search">
    <input class="search__search-bar" type="text" placeholder="Search project/ name"/>
    <button class="search__loupe-button"></button>
  </nav>


  <h3 class="vacation vacation__annual">annual vacation</h3>
  <h3 class="vacation vacation__past-year">past year (2018)</h3>
  <h3 class="vacation vacation__current-year">current year (2019)</h3>
  <h3 class="vacation vacation__planned">planned vacation(status)</h3>

  <h4 class="vacation vacation__past-year--spent">spent</h4>
  <h4 class="vacation vacation__past-year--left">left (until 31.03.2019)</h4>
  <h4 class="vacation vacation__current-year--spent">spent</h4>
  <h4 class="vacation vacation__current-year--left">left (until 31.03.2019)</h4>


  <li class="person-list__person"><span class="person-list__name1">Anna Linke</span><br>UX Designer</li>


  <h3 class="details details__anna-annual">26 days</h3>
  <h3 class="details details__anna-past-spent">24 days</h3>
  <h3 class="details details__anna-past-left">02 days</h3>

  <h3 class="details details__anna-current-spent">0 days</h3>
  <h3 class="details details__anna-current-left">26 days</h3>
  <h3 class="details details--planned">07.01.2019 - 09.01.2019	<b>(accepted)</b> </h3>


  <li class="person-list__person"><span class="person-list__name2">Gabriel Bradersky </span><br>Developer</li>

  <h3 class="details details__gabriel-annual">26 days</h3>
  <h3 class="details details__gabriel-past-spent">24 days</h3>
  <h3 class="details details__gabriel-past-left">02 days</h3>

  <h3 class="details details__gabriel-current-spent">0 days</h3>
  <h3 class="details details__gabriel-current-left">26 days</h3>
  <h3 class="details details--planned">07.01.2019 - 09.01.2019	<b>(accepted)</b> </h3>


  <li class="person-list__person"><span class="person-list__name3">Matthias Groch </span><br>Project Lead</li>
  <li class="person-list__person"><span class="person-list__name4">Moritz Türck </span><br>Partner</li>
  <li class="person-list__person"><span class="person-list__name5">Elisabeth Engel</span> <br>Project Lead</li>
  <li class="person-list__person"><span class="person-list__name6">Anna Rieder</span><br>UX Designer</li>


</main>
