@import '../../variables.scss';

.topnav {
  background-color: $blue;
  color:$white;
  display: grid;
  font-size: 33px;
  font-weight: semi-bold;
  grid-template-columns: 1fr 1fr 1fr;
  height: 102px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;


  &__left {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: start;

  }

  &__center{
    align-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    justify-content: center;
    margin-left: 25px;
  }

  &__right{
    align-items: center;
    display:grid;
    grid-column-gap: 10px;
    grid-template-columns: 90px minmax(90px, 200px) 80px;
    justify-content: end;
    margin-left: 40px;

  }

  &__logo {
    padding-top: 10px;
    padding-left: 10px;

  }

  &__Ciapa {
    padding-left: 25px;
    text-align: left;
  }

  &__profile {
    text-align: right;
  }

  &__teamcal {
    white-space: nowrap;
  }
  &__vacation {
    text-align:left;
  }

  &__icon {
    padding-top:8px;
  }


  &__logout {
     background: transparent;
     padding-right: 10px;


  }

  &__name {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;

    white-space: nowrap



  }

}
