@import "../../variables.scss";

.new-vac {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr;
    grid-template-rows: 1fr 1fr 3fr 3fr;
    margin-left: 55px;
    margin-right: 55px;

    &__remaining-vac {
        color: $light-grey;
        margin-top: 55px;
    }

    &__data-field {
        font-size: 35px;
        font-weight: bold;
        margin-top: 200px;
        align-self: start;
        justify-content: center;
        position: relative;
    }

    &__heading {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: flex-start;
        justify-content: center;
        margin-top: 55px;
    }

    &__description {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    &__textfield {
        border: 1px solid $light-grey;
        color: $light-grey;
        font-size: 35px;
        font-weight: bold;
        height: 68px;
        margin-bottom: 25px;
        padding-left: 25px;
        width: 271px;
    }

    &__data {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-column: 2/3;
        grid-row: 3/3;
        justify-content: center;
    }

    ::placeholder {
        color: $light-grey;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 15px;
        grid-column: 3/4;
        grid-row: 4/4;
        align-items: flex-end;
        justify-items: end;
        margin-bottom: 55px;


    }
  }
