<app-menu-employee></app-menu-employee>

<form class="new-vac">
  <h2 class="new-vac__remaining-vac">
    Remaining Vacation:<br />
    36days
  </h2>

  <h1 class="new-vac__heading">Add a new vacation</h1>
  <p class="new-vac__description">
    Insert your desired first and last day of vacation in the fields below
  </p>

  <div class="new-vac__data">

  <p class="new-vac__from">
    from<br/>
    <input class="new-vac__textfield" type="text" placeholder="TT.MM.YYYY" />
  </p>

  <p class="new-vac__until">
    until<br />
    <input class="new-vac__textfield" type="text" placeholder="TT.MM.YYYY" />
  </p>

  </div>


</form>
<app-button-continue-back></app-button-continue-back>

