<app-menu-employee></app-menu-employee>

<div class="grid-container">

  <div class="search">
    <input class="search__search-bar" type="text" placeholder="Search project/ name"/>
    <button class="search__loupe-button"></button>
  </div>


  <h2 class="current-week">&#10094;  Jan 07 - Jan 13, 2019 &#10095;</h2>
  <input class="current-date" type="text" placeholder="Today" />

  <section class="week">
  <h3 class="week__day">Monday<br> 07</h3>
  <h3 class="week__day">Tuesday <br>08</h3>
  <h3 class="week__day">Wednesday <br>09</h3>
  <h3 class="week__day">Thursday <br>10</h3>
  <h3 class="week__day">Friday<br> 11</h3>
  <h3 class="week__day week__day--weekend">Saturday<br> 12</h3>
  <h3 class="week__day week__day--weekend">Sunday<br> 13</h3>
  <div class="week__calendar"></div>
  </section>


<section class="person-list">
  <p class="person-list__person"><span class="person-list__name--Anna">Anna Linke</span><br>UX Designer</p>
  <p class="person-list__person"><span class="person-list__name--Gabriel">Gabriel Bradersky </span><br>Developer</p>
  <p class="person-list__person"><span class="person-list__name--Matthias">Mattdcsdcadvadvadvhias Groch </span><br>Project Lead</p>
  <p class="person-list__person"><span class="person-list__name--Moritz">Moritz Türck </span><br>Partner</p>
  <p class="person-list__person"><span class="person-list__name--Elli">Elisabeth Engel</span> <br>Project Lead</p>
  <p class="person-list__person"><span class="person-list__name--Anna-R">Anna Rieder</span><br>UX Designer</p>
</section>


</div>
