<app-menu-employee></app-menu-employee>

<div class="grid-container">

  <div class="grid-container__search">
    <input class="grid-container__search-bar" type="text" placeholder="Search project/ name"/>
    <button class="grid-container__loupe-button"></button>
  </div>


  <h2 class="grid-container__current-week">&lt; Jan 07 - Jan 13, 2019 &gt;</h2>
  <input class="grid-container__current-date" type="text" placeholder="Today" />

  <section class="grid-container__week">
  <h3 class="grid-container__weekday">Monday<br> 07</h3>
  <h3 class="grid-container__weekday">Tuesday <br>08</h3>
  <h3 class="grid-container__weekday">Wednesday <br>09</h3>
  <h3 class="grid-container__weekday">Thursday <br>10</h3>
  <h3 class="grid-container__weekday">Friday<br> 11</h3>
  <h3 class="grid-container__weekend">Saturday<br> 12</h3>
  <h3 class="grid-container__weekend">Sunday<br> 13</h3>
  </section>


<section class="grid-container__person-list">
  <p class="grid-container__person"><span class="grid-container__name--Anna">Anna Linke </span><br>UX Designer</p>
  <p class="grid-container__person"><span class="grid-container__name--Gabriel">Gabriel Bradersky </span><br>Developer</p>
  <p class="grid-container__person"><span class="grid-container__name--Matthias">Matthias Groch </span><br>Project Lead</p>
  <p class="grid-container__person"><span class="grid-container__name--Moritz">Moritz Türck </span><br>Partner</p>
  <p class="grid-container__person"><span class="grid-container__name--Elli">Elisabeth Engel</span> <br>Project Lead</p>
  <p class="grid-container__person"><span class="grid-container__name--Elli">Anna Rieder</span><br>UX Designer</p>
</section>

<section class="grid-container__week-table">

</section>


</div>
