<div class="topnav">
  <div class="topnav__left">
    <a class="topnav__logo"><img src="../../assets/Interfacewerk.svg"/></a>
    <a class="topnav__Ciapa">CIAPA</a>
  </div>
</div>


<div class="login">
  <h1 class="login__heading">Sign in to CIAPA</h1>
  <p class="login__text">Enter your details below</p>
  <br />


<div class="data-field">
  <h2 class="data-field__email">E-Mail</h2>
  <input class="data-field__textfield" type="text" placeholder="user@interfacewerk.de" /> <br />
  <h2 class="data-field__password">Password</h2>
  <input class="data-field__textfield" type="text" placeholder="Enter your Password" /> <br />

  <button class="button button__continue" type="submit">Sign In</button>
</div>
