<app-menu-employee></app-menu-employee>


<section class="login">

  <h1 class="login__heading">Sign in to CIAPA</h1>
  <p class="login__text">Enter your details below</p><br />

<form class="data-field">
  <p class="data-field__email">E-Mail</p>
  <input class="data-field__textarea" type="text" placeholder="user@interfacewerk.de" /> <br />
  <p class="data-field__password">Password</p>
  <input class="data-field__textarea" type="text" placeholder="Enter your Password" /> <br />
  <button class="button button__signin" type="submit">Sign In</button>
</form>

</section>
