@import '../../variables.scss';


.login {
  justify-self: right;
  margin-top: 55px;
  min-width: 1000px;
  text-align: center;

  &__heading {
    margin-bottom: 20px;
  }
}

.data-field {
    font-size: 35px;
    font-weight: bold;
    margin-top: 200px;
    margin-right:200px;


  &__password {
    margin-left:42px;
  }

  &__textarea {
    border: 1px solid $dark-grey;
    color: $light-grey;
    font-size: 30px;
    font-weight: bold;
    height: 97px;
    margin-left:222px;
    margin-bottom: 25px;
    padding-left: 25px;
    width: 547px;
  }

  ::placeholder {
    color: $light-grey;
  }

  &__email, &__password {
    margin-right:220px;
    margin-bottom: 10px;

  }
}

.button__continue{
    margin-left: 570px;
  }

