@import "../../variables.scss";
@import "../../mixins.scss";

.open-request {
    position: relative;
    text-align: center;
    width: 1400px;
    margin: auto;

    &__heading {
        padding-right: 90px;
    }

    &__navigation {
        text-align: right;
        font-size: 35px;
        margin-top: 50px;
        margin-left: 100px;
    }

    &__description {
        margin-bottom: 90px;
        margin-top: 20px;
    }

    &__summary {
        text-align: left;
        margin: auto;
        padding-left: 430px;
    }
}

.confirmation-text {
    text-align: left;
    padding-left: 50px;
    margin-top: 80px;
}

.confirmation-button {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 350px;
    margin-right: 50px;
}





