<app-menu-others></app-menu-others>

<section class="open-request">
  <nav class="open-request open-request__navigation">
    &#10094;&nbsp; request 1/1 &nbsp;&#10095;
  </nav>
  <h1 class="open-request open-request__heading">Open vacation request</h1>
  <h3 class="open-request open-request__description">
    Please accept or decline the following request
  </h3>
  <p class="open-request open-request__summary">
    <b> From:</b> Anna Linke <br />
    <b> Requested Vacation:</b> 07.01.2019 - 13.01.2019<br />
    <b> Weekdays:</b> 5 <br />
    <b> Conflict: Yes</b><br />
    <b> In Project: </b>#MT DCM<br />
    <b> Suggested Replacement:</b> Asset Ismagambetov (#MT DCM)<br />
  </p>

  <div class="open-request confirmation">
    <input class="confirmation-button" type="checkbox" />
    <h3 class="confirmation-text">
      Please confirm before you proceed: <br />
      I’m aware of the conflict and accept the suggested replacement
    </h3>
  </div>
</section>



    <div class="grid-container">

        <h3 class="current-week">&#10094;  Jan 07 - Jan 13, 2019 &#10095;</h3>


        <h3 class="week__day"> </h3>
        <h3 class="week__day">Monday<br> 07</h3>
        <h3 class="week__day">Tuesday <br>08</h3>
        <h3 class="week__day">Wednesday <br>09</h3>
        <h3 class="week__day">Thursday <br>10</h3>
        <h3 class="week__day">Friday<br> 11</h3>
        <h3 class="week__day week__day--weekend">Saturday<br> 12</h3>
        <h3 class="week__day week__day--weekend">Sunday<br> 13</h3>

        <div class="calendar calendar__day-monday"></div>
        <div class="calendar calendar__day-tuesday"></div>
        <div class="calendar calendar__day-wednesday"></div>
        <div class="calendar calendar__day-thursday"></div>
        <div class="calendar calendar__day-friday"></div>
        <div class="calendar calendar__day-saturday"></div>
        <div class="calendar calendar__day-sunday"></div>

        <div class="on-vacation">on vacation (accepted)</div>

        <li class="person-list__person"><span class="person-list__name--Anna">Anna Linke</span><br>UX Designer</li>
        <li class="person-list__person"><span class="person-list__name--Gabriel">Gabriel Bradersky </span><br>Developer</li>



        <h3 class="show-more-members">
          show more team members
        <button class="button-arrow"></button>
        </h3>
        </div>

        <app-button-accept-decline></app-button-accept-decline>




