@import "../../variables.scss";
@import "../../mixins.scss";
.arrow {

  background: url(./../../assets/transparent.svg) no-repeat center;
  font-size: 40px;
  grid-row: 1/2;
  justify-self: center;
  width: 30px;
  height: 30px;
  color: black;
  float: right;
  margin: 55px;

}

.request-navigation {
  float: right;
  font-size: 35px;
  margin-top: 55px;

}

.open-request {
    position: relative;
    text-align: left;
    width: 900px;
    margin: auto;

    &__heading {
      text-align: left;
      margin-top: 55px;
    }


    &__description {
        margin-bottom: 90px;
        margin-top: 20px;
    }

    &__summary {
        text-align: left;
        margin: auto;
    }
}

.confirmation-text {
    margin-top: 80px;
    margin-bottom: 100px;
}

.confirmation-button {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 50px;

}

.comment-approval {
    margin: auto;
    width:900px;




&__note {
    text-align: left;
    margin-top:100px;
    padding-bottom: 10px;

}

&__text {
    border: 1px solid $dark-grey;
    width:807px;
    height: 120px;
    font-size: 27px;
    color: $dark-grey;
    text-align: start;


    }

  }






