

<section class="grid-container--compact">

  <div class="search--compact">
    <input class="search__search-bar" type="text" placeholder="Search project/ name"/>
    <button class="search__loupe-button"></button>
  </div>


  <button class="arrow arrow__left">&#10094;</button>
  <h3 class="current-week--compact">  Jan 07 - Jan 13, 2019</h3>
  <button class="arrow arrow__right">&#10095;</button>



  <button class= "button__current-date--compact" type="button">Today</button>

  <!-- show for compact view-->
  <h3 class="week__day">  </h3>
  <!--  -->

  <h3 class="week__day">Monday<br> 07</h3>
  <h3 class="week__day">Tuesday <br>08</h3>
  <h3 class="week__day">Wednesday <br>09</h3>
  <h3 class="week__day">Thursday <br>10</h3>
  <h3 class="week__day">Friday<br> 11</h3>
  <h3 class="week__day week__day--weekend">Saturday<br> 12</h3>
  <h3 class="week__day week__day--weekend">Sunday<br> 13</h3>

  <div class="calendar calendar__day-monday--compact"></div>
  <div class="calendar calendar__day-tuesday--compact"></div>
  <div class="calendar calendar__day-wednesday--compact"></div>
  <div class="calendar calendar__day-thursday--compact"></div>
  <div class="calendar calendar__day-friday--compact"></div>
  <div class="calendar calendar__day-saturday--compact"></div>
  <div class="calendar calendar__day-sunday--compact"></div>

  <div class="on-vacation">on vacation (accepted)</div>

  <li class="person-list__person"><span class="person-list__name1">Anna Linke</span><br>UX Designer</li>
  <li class="person-list__person"><span class="person-list__name2">Gabriel Bradersky </span><br>Developer</li>
  <li class="person-list__person--compact"><span class="person-list__name3--compact">Matthias Groch </span><br>Project Lead</li>
  <li class="person-list__person--compact"><span class="person-list__name4--compact">Moritz Türck </span><br>Partner</li>
  <li class="person-list__person--compact"><span class="person-list__name5--compact">Elisabeth Engel</span> <br>Project Lead</li>
  <li class="person-list__person--compact"><span class="person-list__name6">Anna Rieder</span><br>UX Designer</li>


  <!-- show for compact-view -->

  <h3 class="show-more-members">
    show more team members
  <button class="button-arrow"></button>

  <!-- -->
  </h3>
</section>


