@import "../../variables.scss";
@import "../../mixins.scss";


.grid-container {
    display: grid;
    grid-template-columns: 300px repeat(7, 1fr);
    grid-template-rows: 150px 100px repeat(2, 1fr) 100px;;
    margin-top: 55px;
    white-space: nowrap;
    overflow-y: auto;

    &--compact {
      border: 1px solid $dark-grey;
      padding-top:50px;
      grid-template-rows: 100px 70px repeat(2, 1fr);
      size: 50%;
      margin: auto;
      justify-content: center;
    }

}



.search {
    grid-column: 1/2;
    grid-row: 1/3;
    border-right: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;

    &--compact {
      border-right:none;
    }


    &__search-bar {
        align-items: flex-start;
        background-color: #F9F7F7;
        border-radius: 4px;
        display: grid;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        font-size: 20px;
        margin-right: 20px;
        margin-left: 20px;
        height: 63px;
        width: 260px;
        padding-right: 45px;
        padding-left: 15px;
        position: relative;
        &--compact {
          visibility: hidden;
        }
    }

    &__loupe-button {
        background: url(./../../assets/loupe.svg) no-repeat;
        background-color: #F9F7F7;
        background-size: 35px 35px;
        background-position: center;
        width: 35px;
        height: 35px;
        z-index: 2;
        position: absolute;
        margin-top: -50px;
        margin-left: 230px;
        &--compact {
          visibility: hidden;
        }
    }
}

.button__current-date {
    background-color: white;
    border: 1px solid $dark-grey;
    box-shadow: 0 2px 5px $dark-grey;
    color: $dark-grey;
    display: grid;
    font-size: 25px;
    text-align: center;
    grid-column: 7/8;
    grid-row: 1/1;
    height: 40px;
    width: 100px;
    justify-items: center;
    margin-top: 5px;

    &--compact {
        display: none;
    }
}

.current-week {
    align-content:start;
    color: $dark-grey;
    display: grid;
    grid-column: 4/6;
    grid-row: 1/2;
    justify-content: center;
    white-space: nowrap;
    font-size: 30px;
    margin-top:5px;
    margin-left:20px;
    margin-right:20px;

}

.select-request {
  justify-self: end;
  margin-left: 50px;
}

.arrow {
    background: url(./../../assets/transparent.svg) no-repeat center;
    font-size: 35px;
    grid-row: 1/2;
    grid-column:1/7;
    justify-self: center;
    width: 30px;
    height: 35px;
    color: black;
    align-self: start;
    margin-left:20px;
    margin-right: 20px;


    &__left {
        grid-column: 3/4;
        justify-self: end;
    }

    &__right {
        grid-column: 6/7;
        justify-self: start;
    }
}

.week {
    &__day {
        display: grid;
        justify-items: center;
        grid-column: span 1;
        grid-row: 2/3;
        font-size: 20px;
        border-bottom: 1px solid $dark-grey;
        text-align: center;

    }


    &__day--weekend {
        color: $red;
        grid-row: 2/3;
        grid-column: span 1;
        border-bottom: 1px solid $dark-grey;

    }
}

.calendar {
    border-bottom: 1px solid $dark-grey;
    border-right: 1px solid $dark-grey;

    &__day-monday {
        grid-column: 2/3;
        grid-row: 3/9;

        &--compact {
            grid-column: 2/3;
            grid-row: 3/5;
        }
    }

    &__day-tuesday {
        grid-column: 3/4;
        grid-row: 3/9;

        &--compact {
            grid-column: 3/4;
            grid-row: 3/5;
        }
    }

    &__day-wednesday {
        grid-column: 4/5;
        grid-row: 3/9;

        &--compact {
            grid-column: 4/5;
            grid-row: 3/5;
        }
    }

    &__day-thursday {
        grid-column: 5/6;
        grid-row: 3/9;

        &--compact {
            grid-column: 5/6;
            grid-row: 3/5;
        }
    }

    &__day-friday {
        grid-column: 6/7;
        grid-row: 3/9;

        &--compact {
            grid-column: 6/7;
            grid-row: 3/5;
        }
    }

    &__day-saturday {
        grid-column: 7/8;
        grid-row: 3/9;

        &--compact {
            grid-column: 7/8;
            grid-row: 3/5;
        }
    }

    &__day-sunday {
        grid-column: 8/9;
        grid-row: 3/9;
        border-right:none;

        &--compact {
            grid-column: 8/9;
            grid-row: 3/5;
        }
    }
}

.on-vacation {
    font-size: 25px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 4/5;
    background-color: #28A2FF;
    opacity: 0.5;
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.person-list {
    &__person {
        @include text-ellipsis;
        grid-row: span 1;
        grid-column: 1/2;
        padding: 20px;
        border-bottom: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
        font-size: 25px;
        color: $dark-grey;
        &--compact{
          display:none;
        }

    }

    &__name1 {
        color: $red;
        font-weight: bold;

    }

    &__name2 {
        color: #98C2E2;
        font-weight: bold;
    }

    &__name3 {
        color: #36669E;
        font-weight: bold;
        &--compact{
          visibility: hidden;
        }
    }

    &__name4 {
        color: #E09313;
        font-weight: bold;
        &--compact{
          visibility: hidden;
        }
    }

    &__name5 {
        color: #4d635c;
        font-weight: bold;
        &--compact{
          visibility: hidden;
        }
    }

    &__name6 {
        color: #7E19A1;
        font-weight: bold;
        &--compact{
          visibility: hidden;
        }
    }
}


.show-more-members {
  grid-column: 1/9;
  grid-row:5/5;
  text-align: center;
  align-self: center;
  margin:10px;

  &--compact{
    height: 100px;
  }
}
