<app-menu-others></app-menu-others>
<form class="new-vac">
  <h2 class="new-vac__remaining-vac">
    Remaining Vacation:<br />
    36days
  </h2>

  <h1 class="new-vac__heading">Name replacements</h1>
  <p class="new-vac__description">
    Please select a replacement for each project you are working on
  </p>
  <button class="button button__cancel">Cancel</button>

  <table class="new-vac__replacements">

      <tr>
          <th class="new-vac__name">Name</th>
          <th>Vollmer HMI</th>
          <th>MT DCM</th>
      </tr>
      <tr>
          <td class="new-vac__name-asset">Asset Ismagambetov</td>
          <td>Maria Anders</td>
          <td>Germany</td>
      </tr>
       <tr>
          <td class="new-vac__name-anna">Anna Rieder</td>
          <td>Christina Berglund</td>
          <td>Sweden</td>
      </tr>



  </table>



  <div class= "new-vac__buttons">
  <button class="button button__back">Back</button>
  <button class="button button__continue">Continue</button>
  </div>


</form>
