<app-menu-others></app-menu-others>


<main class="replacement-form">

  <h2 class="replacement-form__remaining-vac">
    Remaining Vacation:<br />
    36days
  </h2>

  <h1 class="replacement-form__headline">Name replacements</h1>
  <h3 class="replacement-form__description">
    Please select a replacement for each project you are working on
  </h3>

  <button class="button button__cancel">Cancel</button>
  <p class="replacement-form__number-selected">(0/2)</p>

  <table class="replacement-form__replacements">
    <tr class="replacement-form__heading">
      <th class="replacement-form__heading replacement-form__heading--name">Name
      </th>
      <th class="replacement-form__heading replacement-form__heading--vollmer-hmi">
        Vollmer HMI
      </th>
      <th class="replacement-form__heading replacement-form__heading--mtdcm">MT DCM</th>
    </tr>

    <tr class="replacement-form__cell1">
      <td class="replacement-form__cell1 replacement-form__cell1--name-asset">
        Asset Ismagambetov
      </td>
      <td class="replacement-form__cell1 replacement-form__cell1--radio">
        <input type="radio"class="replacement-form__cell1--radio" />
      </td>
      <td class="replacement-form__cell1 replacement-form__cell1--radio">
        <input type="radio"class="replacement-form__cell1--radio" />
      </td>
    </tr>

    <tr class="replacement-form__cell2">
      <td class="replacement-form__cell2 replacement-form__cell2--name-anna">Anna Rieder</td>

      <td class="replacement-form__cell2 replacement-form__cell2--radio">
        <input type="radio" class="replacement-form__cell2--radio" />
      </td>
      <td class="replacement-form__cell2 replacement-form__cell2--radio">
        <input type="radio"class="replacement-form__cell2--radio" />
      </td>
    </tr>
  </table>

</main>

<app-button-continue-back></app-button-continue-back>
