@import "../../variables.scss";


.new-vac {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr;
    grid-template-rows: 0.8fr 1fr 3fr 3fr;
    margin: 55px;

    &__remaining-vac {
        color: $light-grey;
        margin-right: 55px;
    }

    &__description {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    &__replacements {
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: left;
        font-size: 32px;
        border: 1px solid $dark-grey;
        border-collapse: collapse;
        margin-top: 100px;
    }

    &__heading {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 30px;
        border: 1px solid $dark-grey;
    }

    &__number-selected {
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: right;
        color: $light-grey;
    }

    &__cell1 {
        padding: 30px;
        color: #7E19A1;
        font-weight: bold;
        border: 1px solid $dark-grey;
    }

    &__cell2 {
        padding: 30px;
        color: #7AA8DE;
        font-weight: bold;
        border: 1px solid $dark-grey;
    }

    &__cell2--radio, &__cell1--radio {
        width: 30px;
        height: 30px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-column-gap: 15px;
        grid-column: 3/4;
        grid-row: 4/4;
        align-items: flex-end;
        justify-items: end;
    }
}
