
<div class="circle-container">

    <svg class="circle1" width="100%" height="100%" viewbox="0 0 100 100">

        <circle class="circle__outside"/>
        <circle class="circle__outside--grey" cx="100" cy="100" r="80" fill="transparent" stroke-width="20" stroke="#d8d8d8"/>
        <circle class="circle__outside--second"cx="100" cy="100" r="80" fill="transparent" stroke-width="20" stroke="#1f9e82" stroke-dasharray="0" stroke-dashoffset="50.3"/>

    </svg>

      <svg class="circle2" width="100%" height="100%" viewbox="0 0 100 100">

        <circle class="circle__inner"/>
        <circle class="circle__inner--second" cx="80" cy="80" r="55" fill="transparent" stroke-width="20" stroke="#d8d8d8"/>
        <circle class="circle__inner--third"cx="80" cy="80" r="55" fill="transparent" stroke-width="20" stroke="#2961c2" stroke-dasharray="360" stroke-dashoffset="270"/>
        <text x="40" y="85" fill="black"font-weight="bold" font-size="23">36 days</text>


    </svg>
    </div>
