@import "../../variables.scss";

.circle-container{
  height:200px;
  width: 200px;
  position: relative;




.circle1{



}
.circle2{

 z-index: 2;
 margin-left:-180px;
 margin-top: 20px;
 position: absolute;
}
}
