@import "../../variables.scss";


@media (max-width:1400){
.button__new-vacation{
  display:none;
}
}



.grid-container {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-template-rows: 2fr 0.5fr 0.5fr 1fr;
    margin: 55px;
    white-space: nowrap;


    &__remaining-vacation {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        grid-template-rows: 1fr 1fr;
        margin-right: 55px;

    }

    &__annual-vacation {
        display: grid;
        grid-column: 1/2;
        margin-right: 30px;
        padding-top: 40px;
    }
    &__annual-days {
        margin-right: 30px;
        padding-top: 40px;

    }

    &__rest-vacation {
        grid-column: 2/3;
        grid-row:1/2;
        margin-top: 80px;
    }

    &__planned-vacation {
        grid-column: 1/2;
        margin-bottom: 200px;
    }

    &__projects {
        grid-column: 1/2;
        margin-right: 55px;
    }

    &__trashbin {
        background: url(./../../assets/trashbin.svg) no-repeat center;
        background-color: $red;
        background-size: 25px;
        box-shadow: 0 2px 5px $dark-grey;
        border-radius: 4px;
        display: inline-block;
        grid-column: 3/4;
        height: 45px;
        margin-right: 200px;
        margin-left: 10px;
        width: 45px;
        vertical-align: top;



    }
  }


//}

.button__new-vacation {

        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
        z-index: 3;

    }
    .vacation-chart-remaining {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 55px;
    }
.vacation-previous-year {
  color: $dark-blue;
}
.vacation-current-year {
  color: $dark-green;
}

