@import "../../variables.scss";

.grid-container {

    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: 2fr 0.5fr 0.5fr 1fr;
    margin: 55px;


    &__remaining-vacation {
        display: grid;
        grid-column: 1/2;
        grid-template-rows: 1fr 1fr;
        margin-right: 55px;
    }

    &__annual-vacation {
        display: grid;
        grid-column: 1/2;
        padding-top: 40px;
        margin-right: 55px;

    }

    &__annual-days {
        padding-top: 40px;
        margin-right: 55px;
    }

    &__rest-vacation {
        grid-column: 2/3;
        margin-top: 80px;
    }

    &__planned-vacation {
        grid-column: 1/2;
        margin-bottom: 200px;
    }

    &__projects {
        grid-column: 1/2;
        margin-right: 55px;

    }

    &__trashbin {
        background: url(./../../assets/trashbin.svg) no-repeat center;
        background-color: $red;
        box-shadow: 0 2px 5px $dark-grey;
        border-radius: 4px;
        display: grid;
        grid-column: 3/4;
        height: 65px;
        margin-right: 280px;
        float: right;
        width: 65px;

    }

    .button__new-vacation {
        display: grid;
        grid-column: 4/5;
        grid-row: 1/2;
    }

}

