<app-menu-employee></app-menu-employee>

<section class= "profile">

<div class="profile__left">
<h2 class="profile__remaining-vacation">Remaining Vacation</h2>
<h2 class="profile__annual-vacation">Annual Vacation</h2>
<h2 class="profile__planned-vacation">Planned Vacation</h2>
<h2 class="profile__projects">My Projects</h2>
</div>

<div class="profile__center">
<p class="last-year-vacation">2018: 10 days expiration date: 31.3.2019</p>
<p class="this-year-vacation">2019: 26 days expiration date: 31.3.2020</p>
<p class="profile__annual-days">26 days</p>
<p class="profile__vac-date">22.01.2019 - 23.01.2019 (status: approved)</p>
<button class="trashbin"></button>
<p class="project__names">#Gleason #MT DCM #Vollmer HMI</p>
  </div>

<div class="profile__right">
<button class="button button__new-vacation">+ New Vacation</button>
</div>

</section>
