<app-menu-employee></app-menu-employee>


<main class="grid-container">
  <p class="grid-container__remaining-vacation">Remaining Vacation</p>
<app-remaining-vacation-chart class="vacation-chart-remaining"></app-remaining-vacation-chart>
  <p class="grid-container__rest-vacation"><b><span class="vacation-previous-year">  2018: 10 days</span></b> &nbsp; expiration date: <b>31.3.2019</b><br />
   <b><span class="vacation-current-year">2019: 26 days</span></b> &nbsp; expiration date:<b> 31.3.2020</b>
  </p>

  <p class="grid-container__annual-vacation">Annual Vacation</p>
  <p class="grid-container__annual-days">26 days</p>

  <p class="grid-container__planned-vacation">Planned Vacation</p>
  <p class="grid-container__vac-date">
    22.01.2019 - 23.01.2019 (status: <b>approved</b>)
    <button class="grid-container__trashbin"></button>
  </p>
  <p class="grid-container__projects">My Projects</p>
  <p class="grid-container__project-names">#Gleason &nbsp; &nbsp; #MT DCM   &nbsp; &nbsp; #Vollmer HMI</p>
  <button class="button button__new-vacation">+ New Vacation</button>
</main>


