<app-menu-employee></app-menu-employee>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<div class="grid-container">
  <h2 class="grid-container__remaining-vacation">Remaining Vacation</h2>
  <p class="grid-container__rest-vacation"><b> 2018: &nbsp; </b> 10 days expiration date: 31.3.2019<br />
   <b>2019: &nbsp;</b> 26 days expiration date: 31.3.2020
  </p>

  <h2 class="grid-container__annual-vacation">Annual Vacation</h2>
  <p class="grid-container__annual-days">26 days</p>

  <h2 class="grid-container__planned-vacation">Planned Vacation</h2>
  <p class="grid-container__vac-date">
    22.01.2019 - 23.01.2019 (status: <b>approved</b>)
    <button class="grid-container__trashbin"></button>
  </p>
  <h2 class="grid-container__projects">My Projects</h2>
  <p class="grid-container__project-names">#Gleason &nbsp; &nbsp; #MT DCM   &nbsp; &nbsp; #Vollmer HMI</p>
  <button class="button button__new-vacation">+ New Vacation</button>
</div>




