<div class="topnav">

  <div class="topnav__left">
  <a class="topnav__logo" ><img src= "../../assets/Interfacewerk.svg"></a>
  <a class="topnav__Ciapa">CIAPA</a>
  </div>

  <div class="topnav__center">
  <a class="topnav__profile">Profile</a>
  <a class="topnav__teamcal">Team Calendar</a>
  </div>

  <div class="topnav__right">
  <a class="topnav__logout"><img src= "../../assets/logout.svg"></a>
  <a class="topnav__name">Employee</a>
  <a class="topnav__icon"><img src= "../../assets/icon.svg"></a>

  </div>

</div>
