@import '../../variables.scss';

.topnav {
  background-color: $blue;
  color:$white;
  display: grid;
  font-size: 33px;
  font-weight: semi-bold;
  grid-template-columns: 1fr 1fr 1fr;
  height: 102px;
  text-align: center;
  text-decoration: none;
  width:100%;
  white-space: nowrap;

  &__left {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 0.7fr;
    justify-content: start;
  }

  &__center{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-column-gap: 50px;
    margin-left: 25px;
  }

  &__right{
    align-items: center;
    display:grid;
    grid-template-columns: 90px minmax(90px, 200px) 90px;
    grid-column-gap: 25px;
    justify-content: end;
    margin-left: 25px;
  }

  &__logo {
    padding-top: 10px;
    padding-left: 10px;
  }

  &__Ciapa {
    padding-left: 25px;
    text-align: left;
  }

  &__profile {
    text-align: right;
  }

  &__teamcal {
    white-space: nowrap;
  }

  &__icon {
    padding-top:8px;
  }

  &__logout {
    background:transparent;
    padding-right: 10px;
  }

  &__name {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
