/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";



* {
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    font-family: Lato;
}

h1 {
    font-size: 45px;
    font-weight: semi-bold;
}

h2 {
    font-size: 35px;
    font-weight: semi-bold;
}

h3 {
    font-size: 27px;
    font-weight:normal;
}

h4 {
    font-size: 20px;
}
p {
    font-size: 35px;
}

.button {
    box-shadow: 0 2px 5px $dark-grey;
    border-radius: 4px;
    font-size: 35px;
    font-weight: semi-bold;
    height: 75px;
    width: 193px;
    color: $white;


    &__continue {
        background-color: $blue;

    }

    &__back{
      background-color: $orange;
    }

    &__cancel{
      background-color: $white;
      color: $red;
      justify-self: right;

    }

    &__new-vacation {
        background-color: $dark-green;
        width: 320px;
        float: right;


    }
}

// $media-small: "only screen and (max-width : 1250px)";
