/* You can add global styles to this file, and also import other style files */
//colors

$blue: #28a2ff;
$orange: #ff793f;
$light-green: #50e3c2;
$dark-green: #1f9e82;
$dark-blue: #2961c2;
$red: #cf5757;
$white: #ffffff;
$light-grey: #d8d8d8;
$dark-grey: #979797;


